@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

@font-face {
    font-family: "Elephant";
    src: url("../font/ELEPHNT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Fonts */
:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Montserrat", sans-serif;
    --service-heading-font: "Roboto Slab", serif;
    --nav-font: "Open Sans", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #222222; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #106eea; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
    --digiGlow-gradient: linear-gradient(to right, #2fb1be, #276a91);
    --digi-hover-color: #276a91;
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
    --nav-color: #222222; /* The default color of the main navmenu links */
    --nav-hover-color: #106eea; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #222222; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #106eea; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
    --background-color: #f5f9ff;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

.header {
    color: var(--default-color);
    transition: all 0.5s;
    z-index: 997;
    background-color: var(--background-color);
}

.header .topbar {
    background-color: var(--accent-color);
    height: 40px;
    padding: 0;
    font-size: 14px;
    transition: all 0.5s;
}

.header .topbar .contact-info i {
    font-style: normal;
    color: var(--contrast-color);
}

.header .topbar .contact-info i a,
.header .topbar .contact-info i span {
    padding-left: 5px;
    color: var(--contrast-color);
}

@media (max-width: 575px) {
    .header .topbar .contact-info i a,
    .header .topbar .contact-info i span {
        font-size: 13px;
    }
}

.header .topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

.header .topbar .contact-info i a:hover {
    color: var(--contrast-color);
    text-decoration: underline;
}

.header .topbar .social-links a {
    color: color-mix(in srgb, var(--contrast-color), transparent 40%);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

.header .topbar .social-links a:hover {
    color: var(--contrast-color);
}

.header .branding {
    background-color: var(--background-color);
    min-height: 60px;
    padding: 10px 0;
}

.header .logo {
    line-height: 1;
}

.header .logo img {
    max-height: 80px;
    margin-right: 8px;
}

#Logo_img {
    max-height: 80px;
    margin-right: 0px !important;
}

.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: transparent;
    background: var(--digiGlow-gradient);
    background-clip: text;
}

.scrolled .header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

.scrolled .header .topbar {
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

    .navmenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navmenu li {
        position: relative;
    }

    .navmenu a,
    .navmenu a:focus {
        color: transparent;
        background: var(--digiGlow-gradient);
        background-clip: text;
        padding: 18px 15px;
        font-size: 15px;
        font-family: var(--nav-font);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
    }

    .navmenu li:last-child a {
        padding-right: 0;
    }

    .navmenu li:hover > a,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--default-color);
    }

    .navmenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background-color);
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu .dropdown ul li {
        min-width: 200px;
    }

    .navmenu .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        color: var(--nav-dropdown-color);
    }

    .navmenu .dropdown ul a i {
        font-size: 12px;
    }

    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover > a {
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navmenu .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden;
    }

    .navmenu .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible;
    }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
        color: var(--nav-color);
        font-size: 28px;
        line-height: 0;
        margin-right: 10px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .navmenu {
        padding: 0;
        z-index: 9997;
    }

    .navmenu ul {
        display: none;
        list-style: none;
        position: absolute;
        inset: 60px 20px 20px 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        background-color: var(--nav-mobile-background-color);
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu a,
    .navmenu a:focus {
        color: var(--nav-dropdown-color);
        padding: 10px 20px;
        font-family: var(--nav-font);
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    }

    .navmenu a i:hover,
    .navmenu a:focus i:hover {
        background-color: var(--accent-color);
        color: var(--contrast-color);
    }

    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .active i,
    .navmenu .active:focus i {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        transform: rotate(180deg);
    }

    .navmenu .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: var(--nav-dropdown-background-color);
        border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        box-shadow: none;
        transition: all 0.5s ease-in-out;
    }

    .navmenu .dropdown ul ul {
        background-color: rgba(33, 37, 41, 0.1);
    }

    .navmenu .dropdown > .dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, 0.03);
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .mobile-nav-toggle {
        color: #fff;
        position: absolute;
        font-size: 32px;
        top: 15px;
        right: 15px;
        margin-right: 0;
        z-index: 9999;
    }

    .mobile-nav-active .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, 0.8);
        transition: 0.3s;
    }

    .mobile-nav-active .navmenu > ul {
        display: block;
    }
}

/* ===================================================================================================================
================================================================================================================================= */

/* Banner Section */
.banner {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .banner {
      min-height: fit-content;
    }
  }

.banner .container-fluid {
    position: relative;
    height: 100%;
}

.banner .container-fluid .banner_row {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.banner_row .carousal {
    position: relative;
    width: 100%;
    height: 600px;
    padding: 0;
}

/* @media (max-width: 768px) {
    .banner_row .carousel {
        height: 420px;
    }
} */

.banner_row .carousel .carousel-inner {
    width: 100%;
    height: 100%;
}

.banner_row .carousel .carousel-inner .carousel-item {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* .banner_row .carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
} */

.banner_row .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    /* border-radius: 8px; */
    /* width: fit-content; */
}

.banner-text h1 {
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    font-family: var(--service-heading-font);
    letter-spacing: 1.5px;
}

.banner-text p {
    font-size: 15px;
    margin-top: 5px;
    /* color: var(--digi-hover-color); */
    color: rgb(158, 153, 153);
}

.custom-button {
    align-items: center;
    gap: 10px;
    background: var(--digiGlow-gradient);
    background: transparent;
    border: none;
    margin-right: 10px;
    padding: 8px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-button a {
    text-decoration: none;
    /* color: white; */
    color: var(--digiGlow-gradient);
    font-size: 18px;
}

.custom-button i {
    /* color: white; */
    color: rgb(48, 175, 154);
    font-size: 20px;
    margin: 0px 5px;
    /* transition: 0.3s ease; */
}

.custom-button:hover {
    background: var(--digiGlow-gradient);
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.custom-button:hover i {
    color: white;
}

.left-arrow {
    font-size: 22px;
}

.home-icon {
    font-size: 24px;
}

.content {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.container {
    width: 80%;
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

h2 {
    color: #276a91;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 15px;
}

h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    background: linear-gradient(to right, #2fb1be, #276a91);
    bottom: 0;
    left: 0;
    border-radius: 2px;
}

h3 {
    color: #276a91;
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    color: #555;
    line-height: 1.8;
    margin-bottom: 25px;
    font-size: 16px;
}

ul,
ol {
    padding-left: 20px;
    margin-bottom: 30px;
}

ul li,
ol li {
    margin-bottom: 12px;
    line-height: 1.8;
    color: #555;
    position: relative;
}

ul {
    list-style: none;
}

ul li:before {
    content: "•";
    color: #2fb1be;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 1.2em;
}

ol {
    counter-reset: item;
    list-style-type: none;
}

ol li {
    counter-increment: item;
}

ol li:before {
    content: counter(item) ".";
    color: #2fb1be;
    font-weight: bold;
    margin-right: 10px;
    position: absolute;
    left: -28px;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.service-card {
    flex: 1 1 calc(50% - 15px);
    min-width: 300px;
    background: white;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.service-card h4 {
    color: #276a91;
    font-family: var(--heading-font);
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.service-card p {
    margin-bottom: 0;
}

.highlight-section {
    background: linear-gradient(to right, #2fb1be, #276a91);
    padding: 40px;
    margin: 50px 0;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.highlight-section h3 {
    color: white;
    margin-top: 0;
}

.highlight-section p {
    color: white;
    margin-bottom: 0;
}

.cta-button {
    display: inline-block;
    background: white;
    color: #276a91;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.cta-button:hover {
    background: rgba(255, 255, 255, 0.9);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 992px) {
    .service-card {
        flex: 1 1 100%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 30px 20px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    .highlight-section {
        padding: 30px 20px;
    }
}

@media (max-width: 768px) {
    .banner_row .banner-text {
        width: 100%;
        padding: 20px;
        border-radius: 0;
    }

    .banner-text h1 {
        font-size: 24px;
    }

    .banner-text p {
        font-size: 16px;
    }

    .container {
        width: 90%;
    }
}
